@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap);

//Font Variable
$fonts-headline: 'Tangerine';
$fonts-body: 'Mountains of Christmas', cursive;
$size: 1em;

$background-color: #ffff99;
$primaryR: #CC231e;
$primaryG: #34a65f;
$accentR: #F5624d;
$accentG: #0F8A5F;
$primaryB: #235E6F;
$text-dark: #333;
$text-light: #fff;
