@use 'variables' as *;

p {
    font-family: $fonts-body;
  }
  
  h2,h3,h4 {
    font-family: $fonts-headline;
    margin: 0;
    font-size: 6em;
  }
  
  a {
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
    color: $accentR;
    text-decoration: none;
    transition: border-color 0.2s ease-in-out;
  }
  a:hover {
    border-color: $accentR;
    border-bottom: 1px solid $accentR;
    }