@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    padding: 0;
    margin: 0;
 }

 body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif; 
 }

 header {
    font-family: 'Lora';
 }
