$color_1: #333;
$color_2: #666;
$color_3: #DEB887;
$color_4: #00ddff;
$color_5: black;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: 'Lora';
$background-color_1: #000;
$background-color_2: #fff;

@import "https://fonts.googleapis.com/css2?family=Lora&display=swap";


@mixing headings {
    font-family: $font-family_2;
	color: $color_1;
}

html {
	justify-content: center;
	padding: 0;
	background-color: $background-color_1;
}
body {
	margin: 0;
	padding: 0;
	background-color: $background-color_2;
	font-family: $font-family_1;
	color: $color_1;
	text-align: center;
}
h1 {
	@include headings;
	text-decoration: none;
	font-size: 70px;
}
h2 {
	@include headings;
	font-size: 25px;
}
header {
	padding: 5px;
	text-align: center;
	grid-area: header;
	h1 {
		a {
			&:link {
				color: $color_1;
			}
			&:visited {
				color: $color_1;
			}
			&:hover {
				color: $color_1;
			}
			&:active {
				color: $color_1;
			}
		}
	}
}
a {
	color: $color_2;
	text-decoration: none;
	&:visited {
		color: $color_2;
		text-decoration: none;
	}
	&:active {
		color: $color_3;
		text-decoration: none;
	}
	&:hover {
		color: $color_4;
		text-decoration: none;
	}
}
.post-content {
	h2 {
		a {
			&:link {
				color: $color_5;
			}
			&:visited {
				color: $color_5;
			}
			&:active {
				color: $color_3;
			}
			&:hover {
				color: $color_1;
			}
		}
	}
	text-align: left;
	padding: 10px;
	font-weight: 600;
}
nav {
	margin: 0;
	padding: 0;
	border-top: solid 2px #d0d0d0;
	border-bottom: solid 2px #d0d0d0;
	ul {
		font-family: $font-family_1;
		li {
			color: $color_1;
			list-style: none;
			font-size: 25px;
			padding: 10px;
			font-weight: 600;
		}
	}
}
.post-date {
	text-align: right;
	padding: 10px;
	margin: 0;
	font-size: 25px;
	font-weight: 600;
}
article {
	figure {
		text-align: center;
	}
}
img {
	padding: 30px;
	width: 60%;
}
@media (max-width: 800px) {
	nav {
		text-align: center;
	}
	.post-date {
		text-align: right;
		border-bottom: solid 2px #d0d0d0;
	}
}
@media (min-width: 600px) {
	main {
		width: 80%;
		padding: 0 20px;
	}
	nav {
		text-align: right;
		ul {
			li {
				display: inline-block;
			}
		}
	}
	article {
		display: flex;
		flex-wrap: wrap;
	}
	.post-date {
		border-right: solid 2px #d0d0d0;
		width: 25%;
		display: inline-block;
	}
	.post-content {
		width: 50%;
		display: inline-block;
		border-bottom: solid 2px #d0d0d0;
	}
}
