@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: grid;
  justify-content: center;
  padding: 0;
  background-color: #000;
}



body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  text-align: center;
  
}



h1 {
  font-family: 'Lora';
  color: #333;
  text-decoration: none;
  font-size: 2.1em; 
}

h2 {
  font-family: 'Lora';
  color: #333;
}
header {
  
  margin: 0;
  text-align: center;
  grid-area: header;  
   
}


/*Links*/



header h1 a:link {
  color:#333;
  
}

header h1 a:visited {
  color:#333;
}

header h1 a:hover {
  color: #333;
  
}

header h1 a:active {
  color: #333;
  
}

a {
  color: #666;
  text-decoration: none;
}

a:visited {
  color: #666;
  text-decoration: none;
}

a:active {
  color: #DEB887;
  text-decoration: none;
}

a:hover {
  color: #00ddff;
  text-decoration: none;
}

.post-content h2 a:link {
  color:black
}

.post-content h2 a:visited {
  color: black;
}

.post-content h2 a:active {
  color:#DEB887;
}

.post-content h2 a:hover {
  color: #333;
}



nav {
  color: #d0d0d0;
  border-top-style: solid;
  border-bottom-style: solid;
  
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  font-family: Arial, Helvetica, sans-serif;
  }

nav ul li {
  
  list-style: none;
  font-size: 1em; 
  font-weight: 600;

  
 
}

.post-date {
  text-align: right;
  border-color: #d0d0d0;
  margin: 10px;
  }

.post-content {
  text-align: left;
  border-color: #d0d0d0;
  border-bottom-style: solid;
}  

figure {
  text-align: center;
}

/*Images*/

img {
  text-align: center;
  width: 50%;
  margin-top: 30px;
}



/* Mobile Size */
@media(min-width:600px) {


  nav {
    text-align: center;
  }

  .post-date {
    text-align: right;
    border-bottom-style: solid;
    
  }
  

}

/* Desktop Size */

@media(min-width:700px) {

 
  nav {
    text-align: right;    
  }

  nav ul li {
    display: inline-block; 
   
  }

  article {
    display: flex;
  }



  .post-content {
    
    border-left-style: solid;
    
    
  }

  main {
    width: 100%;
  }

   
}
  



