@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif; 
 }

 header {
    font-family: 'Lora';
    width: 50%;
    height: 100vh;
    
 }

 .container {
    padding: 10px 10%;
 }

 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
   list-style:inside;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
