@use 'variables' as *;
@use 'atoms';



[role="banner"] {

    padding: 10px;
    text-align: center;
    background: $color-blue;
      
}

.preamble {
    background-color: $color-white;
    border: solid 1px;
    font-style: italic;
}


.view-css,.css-resources,.zen-faq,.zen-submit,.zen-translations {
    @include atoms.button-link;
}

.view-css:hover,.css-resources:hover,.zen-faq:hover,.zen-submit:hover,.zen-translations:hover {
    @include atoms.button-hover;
}

.summary {
    background: $color-greenDark;
    font: $color-black;

}