//Theme Woodland-Symbiosis


//Default Colors

$color-white:    #fff;
$color-black:    #000;

//Theme Colors

$color-brown:  #483434;
$color-blue: #22577A;
$color-greenDark: #2a8c4a;
$color-greenMed: #64c27b;
$color-greenLit: #d0fdd7;


//Theme Fonts

$font-header: Helvetica, "Gills Sans", "Trebuchet MS";
$font-body: Didot, "Bodoni MT", Palatino;


